<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaft.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>타임리프 익히기</h1>
    <!-- LocalDate를 yyyy-MM-dd 포맷으로 변경 -->
    <p th:text="${#temporals.format(today,'yyyy-MM-dd')}"></p>
    <!-- #{...} 속성 파일값 표현식 -->
    <div th:object="${person}">
      <p th:text="|이름: *{name}|"></p>
      <p th:text="|나이: *{age}|"></p>
      <p>취미</p>
      <ul th:each="hobby : *{hobbies}">
        <li th:text="${hobby}"></li>
        <span th:if="${hobby == '운동'}">(대표취미)</span>
      </ul>

      <!-- 1번 블로그 글 조회- -->
      <a th:href="@{/api/articles/{id}(id=${person.id})}">글 보기</a>
    </div>
  </body>
</html>
